/* General styles */
body {
  font-family: sans-serif;
  background: #bbb;
}

* {
  box-sizing: border-box;
}

input[type="text"],
textarea {
  display: block;
  padding: 0.5em;
  width: 100%;

  border: 1px solid #ccc;
  border-radius: 3px;

  font-family: sans-serif;
  font-size: 1em;
}

input[type="text"] {
  font-weight: bold;
}

button {
  padding: 5px 10px;
  margin-right: 0.5em;
  margin-top: 0.5em;

  background-color: #26c696;

  border-radius: 3px;
  border: 0;

  font-size: 1em;
  color: white;
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  background-color: #26dba5;
}

.cancel-link {
  border-bottom: 1px solid #7b7b7b;

  color: #424242;

  cursor: pointer;
}

.cancel-link:hover {
  border-bottom-color: #bfbfbf;

  color: #606060;
}

/* Columns */
.columns {
  display: flex;
}

.columns textarea {
  min-height: 100px;
}

.column {
  flex: 0 0 250px;
  width: 250px;
  padding: 10px;
  margin-right: 10px;

  border-radius: 5px;

  background: #eee;

  cursor: grab;
}

.column--dragging {
  opacity: 0.5;
}

.column--add-new {
  height: 100%;
  padding: 0;

  background: transparent;
}

.column--add-new button {
  width: 100%;
  height: 100%;
  min-height: 200px;
  margin: 0;

  border: 3px dashed #777;
  border-radius: 5px;

  background: transparent;

  font-size: 1.2em;
  color: #777;

  cursor: pointer;
}

.column--add-new button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.column__header {
  margin-bottom: 20px;
}

.column__name {
  padding: 3px;
}

.column__name:hover {
  background: #ddd;

  cursor: pointer;
}

.column__name--updating:hover {
  background: transparent;

  cursor: default;
}

.column__name h2 {
  margin: 0;

  font-size: 1em;
  color: #313131;
}

.column__add-card {
  display: block;
  width: 100%;
  padding: 10px;

  border-radius: 5px;
  border: 0;

  background: #bbb;
}

.column__add-card:hover {
  background: #ddd;

  cursor: pointer;
}

/* Cards */
.card {
  padding: 10px;
  margin-bottom: 10px;

  border-radius: 5px;

  background: #fff;

  cursor: grab;
}

.card--dragging {
  opacity: 0.5;
}

.card__name {
  padding: 3px;
  margin-bottom: 10px;
}

.card__name h3 {
  margin: 0;
  font-size: 1em;
}

.card__description {
  padding: 3px;

  font-size: 0.8em;
  color: #313131;
}

.card__description *:first-child {
  margin-top: 0;
}

.card__description *:last-child {
  margin-bottom: 0;
}

.card__name:hover,
.card__description:hover {
  background: #f7f7f7;

  cursor: pointer;
}

.card--updating {
  cursor: default;
}

.card--updating .card__name:hover,
.card--updating .card__description:hover {
  background: transparent;

  cursor: inherit;
}

/* Drag and drop */
.drop-target {
  background-color: transparent;

  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 3px;
  border-radius: 5px;

  transition: height 0.2s, width 0.2s, background-color 0.2s;
}

.drop-target--hovering {
  background-color: rgba(255, 255, 255, 0.5);
}

.drop-target--column {
  margin-right: 5px;
  margin-left: -5px;
  width: 10px;
}

.drop-target--column.drop-target--hovering {
  width: 230px;
}

.drop-target--card {
  margin-bottom: 5px;
  margin-top: -5px;
  height: 10px;
}

.drop-target--card.drop-target--hovering {
  height: 80px;
}
